<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Landing</title>
</head>
<body>
<style>
  .reverse-geo-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
</style>
{% load widget_tweaks %}
<h1 align="center">Restaurant Listing</h1>
<form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

      <div class="reverse-geo-controls">
  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<button id="reverse-locate-me" class="btn btn-primary">Locate me</button>
<script src="https://cdn.jsdelivr.net/algoliasearch/3.31/algoliasearchLite.min.js"></script>
<script>
(function() {
  var places = algoliasearch.initPlaces('plE93XI2M9ZV', 'e0546a790d5e1ec5896937d4d5789362');

  function updateForm(response) {
    var hits = response.hits;
    var suggestion = hits[0];

    if (suggestion && suggestion.locale_names && suggestion.city) {
      document.querySelector('#id_Address').value = suggestion.locale_names.default[0] || '';
      document.querySelector('#id_City').value = suggestion.city.default[0] || '';
      document.querySelector('#id_Zip').value = (suggestion.postcode || [])[0] || '';
    }
  }

  var lat, lng;

  var $button = document.querySelector('#reverse-locate-me');
  var $latInput = document.querySelector('#id_Latitude');
  var $lngInput = document.querySelector('#id_Longitude');

  $latInput.addEventListener('change', function(e) {
    try {
      lat = parseFloat(e.target.value);

      if (typeof lat !== 'undefined' && typeof lng !== 'undefined') {
        places.reverse({
          aroundLatLng: lat + ',' + lng,
          hitsPerPage: 1,
        }).then(updateForm);
      }
    } catch (e) {
      lat = undefined;
    }
  });

  $lngInput.addEventListener('change', function(e) {
    try {
      lng = parseFloat(e.target.value);

      if (typeof lat !== 'undefined' && typeof lng !== 'undefined') {
        places.reverse({
          aroundLatLng: lat + ',' + lng,
          hitsPerPage: 1,
        }).then(updateForm);
      }
    } catch (e) {
      lng = undefined;
    }
  });

  $button.addEventListener('click', function() {
    $button.textContent = 'Locating...';

    navigator.geolocation.getCurrentPosition(function(response) {
      var coords = response.coords;
      lat = coords.latitude.toFixed(6);
      lng = coords.longitude.toFixed(6);

      $latInput.value = lat;
      $lngInput.value = lng;

      $button.textContent = 'Locate me';

      places.reverse({
        aroundLatLng: lat + ',' + lng,
        hitsPerPage: 1
      }).then(updateForm);
    });
  });
})();
</script>
</body>
</html>